{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Jogging Storage App</h1>
            <p class="lead">Uses angular.js, restangular and django-tastypie.</p>
            {% if user.is_authenticated %}
                <h4>Welcome, {{ user.username }}! <a class="btn btn-default" href="{% url 'core:logout_user' %}">Logout</a>  </h4>
                <h5><span>API KEY is : <strong>{{ user.api_key }}</strong></span></h5>
            {% endif %}
        </div>
        <div ng-view><img src="{% static 'img/throbber.gif' %}" /></div>
    </div>
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'css/angular.rangeSlider.css' %}" />
{% endblock %}

{% block js %}
    <script src="{% static 'js/underscore-min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/restangular.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular-route.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular-cookies.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular.rangeSlider.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/date.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jogging.js' %}" type="text/javascript"></script>
{% endblock %}